@model List<DemoWorkBounty.Models.UpdateWorkitems>
@{
    ViewBag.Title = "Update workitem";
    Layout = "~/Views/_DashboardLayout.cshtml";
}
<ul class="breadcrumb">
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="~/home/dashboard" data_toggle="tooltip" , title="Dashboard">Dashboard</a>
    </li>
    <li class="active" data_toggle="tooltip" , title="">Update Workitem</li>
</ul>

@if (ViewBag.displayMessage != null)
{
    
    <div class="alert alert-danger" id="alertMessage">
        <button type="button" class="close" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </button>

        <strong>
            <i class="ace-icon fa fa-times"></i>
            Failed!
        </strong>
        Due date is reached. Cannot upload document.
        <br>
      
     </div>
}
else
{
<h2>Add Document</h2>
<div class="row">
    <div class="col-xs-12">
      
           @foreach (DemoWorkBounty.Models.UpdateWorkitems i in ViewBag.dataForWorkitem)
            {

                <form class="form-horizontal" role="form" data-toggle="validator" name="Workitemform" id="Workitemform" method="post" enctype="multipart/form-data">
                    <input type="hidden" id="Workid" name="Workid" value="@i.WorkItemID" />
                    <div class="widget-header">
                        <h4 class="smaller">
                            Title: @Html.DisplayFor(s => i.Title)
                        </h4>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <p class="muted">
                                Summary: @Html.DisplayFor(s => i.Summary)
                            </p>
                            <hr>
                            <p class="muted">
                                <table><tr><td class="padding10px">Attach Documents: </td><td><input type="file" id="myFile" name="myFile" /></td></tr></table>                                 
                            </p>
                            <hr />
                        </div>
                    </div>
                       <div class="widget-main">
                        
                            <div class="col-sm-9">
                                
                            </div>
                            </div>
                     
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <button class="btn btn-info" type="submit" data-toggle="tooltip" title="Upload a document">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Submit
                            </button>
                        </div>
                    </div>





                    <div>

                        <table id="simple-table" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="10%">Sr No</th>
                                    <th width="10%">Name</th>
                                    <th width="10%">Update Time</th>
                                    <th width="10%">View File</th>
                                </tr>
                            </thead>
                            @if (ViewBag.dataofOpenDocument != null)
                            {
                                foreach (DemoWorkBounty.Models.WorkitemDocuments m in ViewBag.dataofOpenDocument)
                                {
                                    <tbody>
                                        <tr>
                                            <td>@(ViewBag.dataofOpenDocument.IndexOf(m) + 1)</td>
                                            <td>@Html.DisplayFor(a => m.FirstName)</td>
                                            <td>@Html.DisplayFor(a => m.SubmissionDateTime) <input type="hidden" id="Workid" value="@i.WorkItemID" /></td>
                                            <td>@Html.ActionLink("Download", "Download", "workitem", new { currentUserID = m.UserID }, new { @class = "btn btn-minier btn-purple", data_toggle = "tooltip", title = "Download documents" }) </td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        </table>
                    </div>





                </form>
            }
  
      
    </div>

    <div>

        <table id="simple-table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th width="10%">Sr No</th>
                    <th width="10%">Name</th>
                    <th width="10%">Update Time</th>
                    <th width="10%">View File</th>
                    <th width="10%">Feedback</th>
                    <th width="10%">Reward</th>
                </tr>
            </thead>
            @if (ViewBag.dataofOpenDocument != null)
            {
                foreach (DemoWorkBounty.Models.WorkitemDocuments i in ViewBag.dataofOpenDocument)
                {
                    <tbody>
                        <tr>
                            <td>@(ViewBag.dataofOpenDocument.IndexOf(i) + 1)</td>
                            <td>@Html.DisplayFor(a => i.FirstName)</td>
                            <td>@Html.DisplayFor(a => i.SubmissionDateTime) <input type="hidden" id="Workid" value="@i.WorkItemID" /></td>
                            <td>@Html.ActionLink("Download", "Download", "workitem", new { currentUserID = i.UserID }, new { @class = "btn btn-minier btn-purple", data_toggle = "tooltip", title = "Download documents" }) </td>
                            <td>
                                <select id="feedback">
                                    <option value="good">Good</option>
                                    <option value="average">Average</option>
                                    <option value="poor">Poor</option>
                                </select>
                            </td>
                            <td><input type="button" id="@i.UserID" class="btn btn-minier btn-purple" value="Assign Reward" onclick="ApplyReward(this);" data-toggle="tooltip" title="Apply reward to this user" /></td>
                        </tr>
                    </tbody>
                }
            }
        </table>
    </div>
</div>
}
