@model List<DemoWorkBounty.Models.UpdateWorkitems>
@{
    ViewBag.Title = "Update workitem";
    Layout = "~/Views/_DashboardLayout.cshtml";
}
<ul class="breadcrumb">
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="~/home/dashboard" data_toggle="tooltip" , title="Dashboard">Dashboard</a>
    </li>
    <li class="active" data_toggle="tooltip" , title="">Update Workitem</li>
</ul>
@if (ViewBag.displayAlert != null)
{
    <div class="alert alert-warning" id="alertMessage">
        <button type="button" class="close" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </button>

        <strong>
            <i class="ace-icon fa fa-times"></i>
            Sorry!
        </strong>
        This workitem is already rewarded.
        <br>

    </div>
}
else
{

    if (ViewBag.displayMessage != null)
    {
        <div class="alert alert-danger" id="alertMessage">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>

            <strong>
                <i class="ace-icon fa fa-times"></i>
                Failed!
            </strong>
            Due date is already Reached!
            <br>

        </div>

    }
    else
    {
        <div class="blue">

            <h2>Add document</h2>

            <div class="row">
                <div class="col-xs-12">

                    @foreach (DemoWorkBounty.Models.UpdateWorkitems i in ViewBag.dataForWorkitem)
                    {

                        <form class="form-horizontal" role="form" data-toggle="validator" name="Workitemform" id="Workitemform" method="post" enctype="multipart/form-data">
                            <input type="hidden" id="Workid" name="Workid" value="@i.WorkItemID" />
                            <div class="widget-header">
                                <h4 class="smaller">
                                    Title: @Html.DisplayFor(s => i.Title)
                                </h4>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <p class="muted">
                                        Summary: @Html.DisplayFor(s => i.Summary)
                                    </p>
                                    <hr>
                                    <p class="muted">
                                        <table><tr><td class="padding10px">Attach Documents: </td><td><input type="file" id="myFile" name="myFile" /></td></tr></table>
                                    </p>
                                    <hr />
                                    <button class="btn btn-info" type="submit" data-toggle="tooltip" title="Upload a document">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Submit
                                    </button>
                                </div>
                            </div>



                        </form>
                    }


                </div>


            </div>
        </div>
    }
}
<div>
    <h4>Submitted Documents</h4>
    <table id="simple-table" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th width="10%">Sr No</th>
                <th width="10%">Title</th>
                <th width="10%">Update Time</th>
                <th width="10%">View Document</th>
            </tr>
        </thead>
        @if (ViewBag.dateOfSubmittedWork != null)
        {
            foreach (DemoWorkBounty.Models.WorkitemDocuments i in ViewBag.dateOfSubmittedWork)
            {
                <tbody>
                    <tr>
                        <td>@(ViewBag.dateOfSubmittedWork.IndexOf(i) + 1)</td>
                        <td>@Html.DisplayFor(a => i.Title)</td>
                        <td>@Html.DisplayFor(a => i.SubmissionDateTime)
                        <td>@Html.ActionLink("Show document", "Download", "workitem", new { currentUserID = i.UserID, workitemID = i.WorkItemAssignmentID }, new { @class = "btn btn-minier btn-purple", data_toggle = "tooltip", title = "Download documents" }) </td>
                    </tr>
                </tbody>
            }
        }
    </table>
</div>
