@model List<DemoWorkBounty.WorkItemAssignment>
@{
    ViewBag.Title = "View assignment";
    Layout = "~/Views/_DashboardLayout.cshtml";
}

<script src="~/assets/js/jquery-ViewUpdatedWorkitem.js"></script>
<ul class="breadcrumb">
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="~/home/dashboard" data_toggle="tooltip" , title="Dashboard">Dashboard</a>
    </li>
    <li>
        <a href="javascript:history.back() " data_toggle="tooltip" , title="Workitems which you have added">Items i want done</a>
    </li>
    <li class="active">View updated workitem</li>
</ul>



<div class="widget-box transparent" id="recent-box">
    <div class="widget-header">
        <div class="col-xs-10">
            <h4 class="widget-title lighter smaller padding10pxbottom">
                View Document

            </h4>
        </div>
        <div class="col-sm-10">
            <div class="col-sm-10">
                @if (ViewBag.dataofOpenDocument != null)
                {
                    foreach (DemoWorkBounty.Models.WorkitemDocuments i in ViewBag.dataofOpenDocument)
                    {

                        <div class="col-xs-20  toppadding8px">
                            <div class="col-sm-10">
                                <h5>
                                    Title:    @Html.DisplayFor(a => i.Title)
                                </h5>
                            </div>

                            <div class="widget-box transparent toppadding10px" id="recent-box">
                                <div class="header">

                                    <div class="col-sm-10 toppadding50px">
                                        Summary:  @Html.DisplayFor(a => i.Summary)
                                    </div>

                                </div>
                            </div>
                        </div>
                        break;
                    }
                }

                @if (ViewBag.errorMessage == 0)
                {
                    <div class="col-sm-10">
                        <p class="alert alert-warning">
                            No documents found in current workitem
                        </p>
                    </div>
                }

                @if (ViewBag.displayMessage != null)
                {
                    <div class="col-sm-10">
                        <p class="alert alert-success">
                            You have already send a reward for this workitem
                        </p>
                    </div>
                }

                @if (ViewBag.dataofOpenDocument != null)
                {
                    foreach (DemoWorkBounty.Models.WorkitemDocuments i in ViewBag.dataofOpenDocument)
                    {
                        <div class="col-sm-10">
                            @*<h4 class="widget-title lighter smaller col-sm-6">
                                    Details
                                </h4>
                                <div class="alert alert-block alert-success" id="labelSuccessMessage">
                                    <button type="button" class="close" data-dismiss="alert">
                                        <i class="ace-icon fa fa-times"></i>
                                    </button>
                                    <p>
                                        <strong>
                                            <i class="ace-icon fa fa-check"></i>
                                            Success!
                                        </strong>
                                        Reward assigned.
                                    </p>
                                </div>*@
                            <input type="hidden" id="Userid" value="@Session["UserID"]" />
                            <table id="simple-table" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Sr No</th>
                                        <th>Name</th>
                                        <th>Update Time</th>
                                        <th>View File</th>
                                        <th>Feedback</th>
                                        <th>Reward</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>@(ViewBag.dataofOpenDocument.IndexOf(i) + 1)</td>
                                        <td>@Html.DisplayFor(a => i.FirstName)</td>
                                        <td>@Html.DisplayFor(a => i.SubmissionDateTime) <input type="hidden" id="Workid" value="@i.WorkItemID" /></td>
                                        <td>@Html.ActionLink("Download", "Download", "workitem", new { currentUserID = i.UserID, workitemID = i.WorkItemAssignmentID }, new { @class = "btn btn-minier btn-purple", data_toggle = "tooltip", title = "Download documents" }) </td>
                                        <td>
                                            <select id="@(ViewBag.dataofOpenDocument.IndexOf(i) + 1)">
                                                <option value="good">Good</option>
                                                <option value="average">Average</option>
                                                <option value="poor">Poor</option>
                                            </select>
                                       </td>
                                     
                                        <td><input type="button" id="@i.UserID" class="btn btn-minier btn-purple" value="Assign Reward" onclick="ApplyReward(this,@(ViewBag.dataofOpenDocument.IndexOf(i) + 1));" data-toggle="tooltip" title="Apply reward to this user" /></td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    }
                }
            </div>


        </div>

    </div>
</div>
