@model List<DemoWorkBounty.Workitem>
@{
    ViewBag.Title = "View assigned workitem";
    Layout = "~/Views/_DashboardLayout.cshtml";
}
<script src="~/assets/js/jquery-ViewAssignedWorkitem.js"></script>

<ul class="breadcrumb">
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="~/home/dashboard" data_toggle="tooltip" , title="Dashboard">Dashboard</a>
    </li>
    <li class="active">Assign workitems</li>
</ul>

<div class="widget-box transparent" id="recent-box">
    <div class="widget-header">
        <div class="col-xs-10">
            <h4 class="widget-title lighter smaller padding10pxbottom">
                Assign workitems

            </h4>
        </div>
        <div class="col-sm-10">
            <div class="col-sm-10">
                @foreach (DemoWorkBounty.Workitem i in ViewBag.items)
                {
                    <input type="hidden" id="Workid" value="@i.WorkitemID" />
                    <input type="hidden" id="Teamid" value="@i.PublishedTo">
                    <div class="col-xs-10  toppadding10px">
                        <div class="col-sm-10">
                            Title:    @Html.DisplayFor(a => i.Title)
                        </div>

                        @Html.ActionLink("View Assignment", "ViewUpdatedWorkitem", "workitem", new { currentWorkitemID = @i.WorkitemID }, new { @class = "btn btn-minier btn-success", data_toggle = "tooltip", title = "View documents which user submitted" })


                        <div class="widget-box transparent" id="recent-box">
                            <div class="widget-header">

                                <div class="col-sm-10 toppadding50px">
                                    Summary:  @Html.DisplayFor(a => i.Summary)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="widget-title lighter smaller col-sm-6">
                            Details
                        </h4>
                        <input type="hidden" id="Userid" value="@Session["UserID"]" />
                        <table id="simple-table" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="5%">Start Date</th>
                                    <th width="4%">Due Date</th>
                                    <th width="5%">Rewards</th>
                                    <th width="4%">Amount</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayFor(a => i.StartDate)</td>
                                    <td>@Html.DisplayFor(a => i.DueDate)</td>
                                    <td>@Html.DisplayFor(a => i.ProposedReward)</td>
                                    @if (i.Amount != null)
                                    {
                                        <td>$@Html.DisplayFor(a => i.Amount)</td>
                                    }
                                    else
                                    {
                                        <td>@Html.DisplayFor(a => i.Amount)</td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>

                }
            </div>
            @if (ViewBag.getMessage != null)
            {
                <div class="col-sm-10">
                    <p class="ui-icon-alert alert-success">
                        You have already assign this workitem to exclusive member
                    </p>
                </div>
            }

            <div class="col-sm-10">
                <div class="alert alert-block alert-success" id="labelSuccessMessage">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                    <p>
                        <strong>
                            <i class="ace-icon fa fa-check"></i>
                            Success!
                        </strong>
                        Workitem allocated
                    </p>
                </div>
                <div class="col-sm-6">
                    <table id="simple-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="5%">People who have applied for this item :</th>
                                <th width="5%">Action</th>
                            </tr>
                        </thead>
                        @if (ViewBag.apply != null)
                        {
                            foreach (DemoWorkBounty.WorkitemRegistration i in ViewBag.apply)
                            {
                                <tbody>
                                    <tr>
                                        <td>@Html.DisplayFor(a => i.UserInfo.FirstName)</td>
                                        <td><input type="submit" class="btn btn-minier btn-purple" value="Allocate workitem" id="@i.UserID" onclick="add(id)" data-toggle="tooltip" title="Apply and allocate work" /></td>
                                    </tr>
                                </tbody>
                            }
                        }
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
